body {
    background-color: #d6efc7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

.work_title {
    float: left;
    margin: 0;
    width: 56%;
}

.avatar {
    border-radius: 50%;
}

.avatar_work {
    height: 50px;
}

.linkedin {
    height: 15px;
    width: 15px;
}

.duties {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

.degree {
    color: blue;
    float: left;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
    width: 50%;
}

.school {
    float: left;
    margin: 0;
    padding-bottom: 10px;
    width: 50%;
}

.work {
    padding-bottom: 20px;
    text-align: left;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.company {
    float: left;
    text-align: center;
    width: 33%;
}

.title {
    color: blue;
    float: left;
    font-weight: bold;
    text-decoration: underline;
    width: 33%;
}

.service {
    float: left;
    font-style: italic;
    text-align: right;
    width: 34%;
}

.footer {
    text-align: center;
}